@page "/counter"
@using Dashboard.Services.Interfaces
@inject IMessageQueueService MessageQueueService

<h1>Counter</h1>

<p>Current soil moisture: @_value</p>

<button class="btn btn-primary" @onclick="GetSoilMoisture">Refresh</button>

@code {
 
     private int _value;
 
     protected override void OnInitialized()
     {
         MessageQueueService.Connect();
         MessageQueueService.DataReceived += (_, moisture) =>
         {
             _value = moisture.Value;
             StateHasChanged();
             Console.WriteLine($"(ui) value is {_value}");
         };
     }

    private async Task GetSoilMoisture()
     {
         await MessageQueueService.EnableDataCollection();
    // _value = soilMoisture.Value;
     }
 }